In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import tushare as ts

使用tushare包获取某股票的历史行情数据

In [3]:
df = ts.get_k_data('601009',start='2000-03-03')
df.to_csv('601009.csv')

In [4]:
df = pd.read_csv('601009.csv',index_col='date',parse_dates=['date'])[['open','close','high','low']]
df

             open  close   high    low
date
2007-07-19  3.937  3.883  4.097  3.752
2007-07-20  3.803  4.074  4.203  3.793
2007-07-23  4.103  4.176  4.353  4.060
2007-07-24  4.162  4.138  4.265  4.080
2007-07-25  4.148  4.552  4.552  4.133
2007-07-26  4.746  4.849  4.997  4.691
2007-07-27  4.771  5.021  5.058  4.716
2007-07-30  4.958  4.913  5.017  4.861
2007-07-31  4.818  4.808  4.874  4.644
2007-08-01  4.900  4.748  5.013  4.693
2007-08-02  4.781  5.017  5.150  4.695
2007-08-03  5.003  5.056  5.146  4.945
2007-08-06  5.064  4.933  5.064  4.863
2007-08-07  4.921  4.810  4.921  4.718
2007-08-08  4.720  4.777  4.900  4.695
2007-08-09  4.781  4.755  4.849  4.716
2007-08-10  4.757  4.593  4.798  4.511
2007-08-13  4.562  4.560  4.712  4.410
2007-08-14  4.576  4.677  4.685  4.552
2007-08-15  4.671  4.677  4.736  4.615
2007-08-16  4.634  4.541  4.634  4.490
2007-08-17  4.511  4.398  4.572  4.388
2007-08-20  4.511  4.558  4.623  4.449
2007-08-21  4.564  4.496  4.589  4.449
2007-08-22  4.408  4.591  4.625  4.398
2007-08-23  4.593  4.509  4.597  4.492
2007-08-24  4.521  4.548  4.630  4.490
2007-08-27  4.603  4.652  4.757  4.552
2007-08-28  4.652  4.525  4.652  4.490
2007-08-29  4.486  4.349  4.490  4.343
...           ...    ...    ...    ...
2020-03-06  8.080  8.030  8.130  8.010
2020-03-09  7.910  7.790  7.920  7.790
2020-03-10  7.740  7.850  7.880  7.720
2020-03-11  7.850  7.800  7.880  7.790
2020-03-12  7.750  7.730  7.830  7.710
2020-03-13  7.500  7.630  7.700  7.400
2020-03-16  7.630  7.400  7.650  7.400
2020-03-17  7.450  7.400  7.500  7.250
2020-03-18  7.440  7.200  7.470  7.190
2020-03-19  7.170  7.080  7.220  6.980
2020-03-20  7.140  7.240  7.270  7.090
2020-03-23  7.050  7.060  7.140  7.030
2020-03-24  7.160  7.170  7.210  7.100
2020-03-25  7.330  7.320  7.390  7.230
2020-03-26  7.300  7.370  7.560  7.260
2020-03-27  7.450  7.390  7.480  7.370
2020-03-30  7.280  7.330  7.370  7.230
2020-03-31  7.360  7.250  7.390  7.250
2020-04-01  7.270  7.270  7.360  7.240
2020-04-02  7.220  7.290  7.300  7.210
2020-04-03  7.280  7.270  7.340  7.250
2020-04-07  7.350  7.350  7.390  7.310
2020-04-08  7.420  7.590  7.640  7.420
2020-04-09  7.600  7.560  7.630  7.560
2020-04-10  7.580  7.520  7.600  7.480
2020-04-13  7.480  7.500  7.520  7.420
2020-04-14  7.510  7.570  7.600  7.510
2020-04-15  7.570  7.490  7.580  7.480
2020-04-16  7.470  7.460  7.490  7.430
2020-04-17  7.480  7.460  7.520  7.440

[3081 rows x 4 columns]

In [12]:
df[(df['close']-df['open'])/df['open']>=0.04]

             open  close   high    low
date
2007-07-20  3.803  4.074  4.203  3.793
2007-07-25  4.148  4.552  4.552  4.133
2007-07-27  4.771  5.021  5.058  4.716
2007-08-02  4.781  5.017  5.150  4.695
2007-08-22  4.408  4.591  4.625  4.398
2007-10-16  4.080  4.416  4.490  4.055
2008-02-04  3.387  3.547  3.557  3.365
2008-03-28  2.870  3.006  3.043  2.846
2008-04-22  2.829  3.100  3.155  2.813
2008-04-23  3.024  3.147  3.184  3.014
2008-05-14  3.051  3.194  3.225  3.051
2008-06-18  2.362  2.505  2.518  2.333
2008-07-07  2.337  2.448  2.489  2.313
2008-07-21  2.132  2.255  2.276  2.095
2008-08-20  1.956  2.173  2.173  1.927
2008-09-18  1.586  1.773  1.773  1.571
2008-09-24  2.022  2.131  2.140  2.003
2008-10-07  1.923  2.108  2.167  1.897
2008-10-13  1.845  2.026  2.032  1.832
2008-10-20  1.801  1.895  1.914  1.773
2008-10-28  1.579  1.754  1.754  1.567
2008-11-07  1.742  1.832  1.878  1.731
2008-11-13  1.885  2.047  2.062  1.860
2008-11-19  1.927  2.036  2.053  1.885
2008-12-10  1.959  2.060  2.074  1.950
2008-12-18  1.874  1.965  1.975  1.847
2009-01-23  1.986  2.068  2.097  1.986
2009-02-11  2.199  2.306  2.390  2.173
2009-02-23  2.308  2.500  2.525  2.285
2009-02-25  2.397  2.493  2.544  2.321
...           ...    ...    ...    ...
2015-03-09  4.443  4.815  4.815  4.380
2015-04-28  6.039  6.440  6.513  5.966
2015-05-11  5.790  6.068  6.085  5.748
2015-05-19  5.745  6.029  6.117  5.720
2015-06-01  6.668  7.061  7.159  6.457
2015-06-03  7.022  7.573  7.808  6.966
2015-06-04  7.443  7.777  8.327  7.443
2015-06-30  7.615  8.001  8.324  7.387
2015-07-09  5.524  6.071  6.075  5.029
2015-07-10  5.931  6.485  6.657  5.878
2015-07-28  5.615  5.945  6.011  5.510
2015-08-03  5.889  6.187  6.194  5.864
2015-08-27  4.562  4.990  4.990  4.562
2015-08-31  5.215  5.499  5.510  5.124
2015-09-01  5.355  5.587  5.632  5.264
2015-10-22  5.800  6.035  6.108  5.738
2015-11-04  5.901  6.300  6.307  5.890
2015-11-05  6.242  6.684  6.931  6.202
2015-12-02  6.112  6.692  6.739  6.068
2015-12-14  6.170  6.445  6.518  6.162
2016-05-31  6.224  6.485  6.510  6.224
2016-08-12  7.048  7.389  7.402  7.028
2017-02-20  7.883  8.323  8.350  7.883
2017-05-25  7.028  7.402  7.469  6.995
2018-01-17  8.207  8.589  8.818  8.207
2018-01-26  8.933  9.478  9.602  8.933
2018-01-31  9.267  9.736  9.745  9.095
2018-07-20  7.252  7.624  7.643  7.166
2019-02-25  7.100  7.480  7.540  7.060
2019-04-16  8.930  9.300  9.340  8.840

[115 rows x 4 columns]

输出该股票所有开盘比前日收盘跌幅超过8%的日期

In [15]:
df[(df['open']-df['close'].shift(1))/df['close'].shift(1)<=-0.08]

             open  close   high    low
date
2015-07-08  5.545  5.524  5.875  5.524
2020-02-03  7.580  7.610  7.760  7.440

In [16]:
df

             open  close   high    low
date
2007-07-19  3.937  3.883  4.097  3.752
2007-07-20  3.803  4.074  4.203  3.793
2007-07-23  4.103  4.176  4.353  4.060
2007-07-24  4.162  4.138  4.265  4.080
2007-07-25  4.148  4.552  4.552  4.133
2007-07-26  4.746  4.849  4.997  4.691
2007-07-27  4.771  5.021  5.058  4.716
2007-07-30  4.958  4.913  5.017  4.861
2007-07-31  4.818  4.808  4.874  4.644
2007-08-01  4.900  4.748  5.013  4.693
2007-08-02  4.781  5.017  5.150  4.695
2007-08-03  5.003  5.056  5.146  4.945
2007-08-06  5.064  4.933  5.064  4.863
2007-08-07  4.921  4.810  4.921  4.718
2007-08-08  4.720  4.777  4.900  4.695
2007-08-09  4.781  4.755  4.849  4.716
2007-08-10  4.757  4.593  4.798  4.511
2007-08-13  4.562  4.560  4.712  4.410
2007-08-14  4.576  4.677  4.685  4.552
2007-08-15  4.671  4.677  4.736  4.615
2007-08-16  4.634  4.541  4.634  4.490
2007-08-17  4.511  4.398  4.572  4.388
2007-08-20  4.511  4.558  4.623  4.449
2007-08-21  4.564  4.496  4.589  4.449
2007-08-22  4.408  4.591  4.625  4.398
2007-08-23  4.593  4.509  4.597  4.492
2007-08-24  4.521  4.548  4.630  4.490
2007-08-27  4.603  4.652  4.757  4.552
2007-08-28  4.652  4.525  4.652  4.490
2007-08-29  4.486  4.349  4.490  4.343
...           ...    ...    ...    ...
2020-03-06  8.080  8.030  8.130  8.010
2020-03-09  7.910  7.790  7.920  7.790
2020-03-10  7.740  7.850  7.880  7.720
2020-03-11  7.850  7.800  7.880  7.790
2020-03-12  7.750  7.730  7.830  7.710
2020-03-13  7.500  7.630  7.700  7.400
2020-03-16  7.630  7.400  7.650  7.400
2020-03-17  7.450  7.400  7.500  7.250
2020-03-18  7.440  7.200  7.470  7.190
2020-03-19  7.170  7.080  7.220  6.980
2020-03-20  7.140  7.240  7.270  7.090
2020-03-23  7.050  7.060  7.140  7.030
2020-03-24  7.160  7.170  7.210  7.100
2020-03-25  7.330  7.320  7.390  7.230
2020-03-26  7.300  7.370  7.560  7.260
2020-03-27  7.450  7.390  7.480  7.370
2020-03-30  7.280  7.330  7.370  7.230
2020-03-31  7.360  7.250  7.390  7.250
2020-04-01  7.270  7.270  7.360  7.240
2020-04-02  7.220  7.290  7.300  7.210
2020-04-03  7.280  7.270  7.340  7.250
2020-04-07  7.350  7.350  7.390  7.310
2020-04-08  7.420  7.590  7.640  7.420
2020-04-09  7.600  7.560  7.630  7.560
2020-04-10  7.580  7.520  7.600  7.480
2020-04-13  7.480  7.500  7.520  7.420
2020-04-14  7.510  7.570  7.600  7.510
2020-04-15  7.570  7.490  7.580  7.480
2020-04-16  7.470  7.460  7.490  7.430
2020-04-17  7.480  7.460  7.520  7.440

[3081 rows x 4 columns]

策略：
选取股代码为601009的股票，每个自然月的第一个交易日买入100股
每年最后一个交易日卖出所有股票且最后一个交易日卖出所有股票
求07年03月至今收益是多少

In [32]:
price_last = df['open'][-1]#最后一个交易日股票价格
df = df['2007-07':'2020-03']#时间筛选
df_monthly = df.resample('M').first()#按月第一个交易日
#重新采样(pandas对象都会有这个方法),
#在给定的时间单位内重取样,
#是一个对常规时间序列数据重新采样和频率转换的便捷的方法
df_yearly = df.resample('A').last()[:-1]#除最后一年每年最后一个交易日

In [34]:
df_monthly

             open  close   high    low
date
2007-07-31  3.937  3.883  4.097  3.752
2007-08-31  4.900  4.748  5.013  4.693
2007-09-30  4.388  4.406  4.455  4.373
2007-10-31  4.162  4.174  4.254  4.101
2007-11-30  4.131  4.049  4.168  4.047
2007-12-31  3.641  3.695  3.750  3.629
2008-01-31  3.918  3.930  3.978  3.887
2008-02-29  3.270  3.317  3.340  3.153
2008-03-31  3.352  3.399  3.418  3.305
2008-04-30  2.973  2.893  3.051  2.891
2008-05-31  3.404  3.360  3.424  3.311
2008-06-30  2.938  2.954  2.973  2.911
2008-07-31  2.339  2.257  2.354  2.243
2008-08-31  2.262  2.335  2.362  2.220
2008-09-30  2.049  1.990  2.049  1.975
2008-10-31  2.030  1.969  2.030  1.948
2008-11-30  1.716  1.746  1.792  1.702
2008-12-31  1.769  1.817  1.822  1.746
2009-01-31  1.796  1.828  1.834  1.777
2009-02-28  2.043  2.093  2.112  2.043
2009-03-31  2.464  2.392  2.485  2.319
2009-04-30  2.773  2.752  2.813  2.736
2009-05-31  2.733  2.765  2.778  2.706
2009-06-30  2.971  3.117  3.127  2.971
2009-07-31  3.819  3.961  4.019  3.802
2009-08-31  4.261  4.246  4.313  4.180
2009-09-30  3.072  3.216  3.224  3.070
2009-10-31  3.864  3.980  3.995  3.823
2009-11-30  3.671  3.909  3.948  3.649
2009-12-31  3.750  3.767  3.772  3.662
...           ...    ...    ...    ...
2017-10-31  7.758  7.653  7.815  7.634
2017-11-30  7.615  7.567  7.643  7.548
2017-12-31  7.787  7.710  7.796  7.672
2018-01-31  7.414  7.452  7.500  7.385
2018-02-28  9.736  9.573  9.831  9.392
2018-03-31  8.627  8.752  8.790  8.560
2018-04-30  7.777  7.729  7.882  7.701
2018-05-31  8.169  8.102  8.226  8.064
2018-06-30  7.729  7.758  7.959  7.710
2018-07-31  7.347  7.099  7.357  7.070
2018-08-31  7.433  7.376  7.567  7.357
2018-09-30  7.340  7.310  7.370  7.250
2018-10-31  7.480  7.420  7.570  7.370
2018-11-30  7.340  7.200  7.360  7.200
2018-12-31  7.060  7.050  7.090  7.030
2019-01-31  6.470  6.370  6.470  6.360
2019-02-28  7.020  6.960  7.030  6.910
2019-03-31  7.470  7.690  7.690  7.400
2019-04-30  7.970  8.190  8.230  7.970
2019-05-31  8.480  8.310  8.490  8.200
2019-06-30  8.260  8.250  8.390  8.200
2019-07-31  8.360  8.390  8.390  8.340
2019-08-31  8.310  8.330  8.370  8.270
2019-09-30  7.830  7.830  7.850  7.790
2019-10-31  8.580  8.780  8.850  8.470
2019-11-30  8.620  8.810  8.850  8.580
2019-12-31  8.290  8.260  8.300  8.220
2020-01-31  8.880  8.860  9.000  8.860
2020-02-29  7.580  7.610  7.760  7.440
2020-03-31  7.780  7.910  7.930  7.780

[153 rows x 4 columns]

In [35]:
cost_money = 0#购买股票的资金
hold = 0#持有股票数量
for year in range(2007,2020):
    cost_money += df_monthly[str(year)]['open'].sum()*100#买入
    hold += len(df_monthly[str(year)]['open'])*100#计算持有股票数
    if year !=2019:
        cost_money -=df_yearly[str(year)]['open'][0] * hold
        hold = 0
    print(cost_money)
cost_money -= hold * price_last#全部卖出
print(-cost_money)

146.5
1200.5
-108.2
345.8
437.8
200.2
471.1
-2001.8
-2916.4
-3781.4
-3487.8
-1870.6
7695.4
1136.6